{{ define "main" }}
{{ $data := index .Site.Data }}
<style>
    .row {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        gap: 20px;
        background-color: white;
        border-radius: 8px;
    }

    @media (max-width: 576px) {
    .row {
        grid-template-columns: 1fr 1fr !important;
    }   
    }
    @media (max-width: 992px) {
    .row {
        grid-template-columns: 1fr 1fr 1fr;
    }   
    }
</style>
<section class="hero" style="background-image:linear-gradient(rgba(20,30,38, 0.9), rgba(24,44,54, 0.8)),
url('{{.Params.Image}}');">
  <header class="container">
    <hgroup>
      <h1>{{ .Title }}</h1>
      <h2>{{ .Description }}</h2>
    </hgroup>
  </header>
</section>
<div class="container">
  <hgroup>
    <!-- <h1>{{ .Title }}</h1>
    {{- partial "post_meta.html" . -}}
    <p>{{ .Description }}</p> -->

  </hgroup>
  {{- if .Params.tags }} {{- range ($.GetTerms "tags") }}
  <a href="{{ .Permalink }}">
    <kbd>{{ .LinkTitle }}</kbd>
  </a>
  {{- end }} {{- end }}

  <div class="">
    <!-- clients -->
      {{ if $data.clients.clients_logo.enable }}
      <section class="section">
      <div class="container">
          <div class="row">
          {{ range .Site.Params.clients_logo }}
          <div class="col-lg-3 col-md-4 col-sm-4">
              <img src="{{ .logo | absURL }}" alt="logo" class="img-fluid w-100">
          </div>
          {{ end }}
          </div>
      </div>
      </section>
      {{ end }}
    <!-- /clients -->
  </div>
</div>
{{ end }}
